<!DOCTYPE html>
<html>
<head>
  <title>VortexBnB</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAtVdQvxMMUJjV0CQzikPM9ICjW1oABUk">
</script>

<%= yield %>


</body>
</html>
